<!doctype html>
<html ng-app="outgoingMonitor">
  <head>
  	<title>Save your money, save your time</title>
  	
  	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script> 
  	
    <script src="http://code.angularjs.org/1.0.4/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.4/angular-resource.min.js"></script>
    
    <script src="js/booter.js"></script>
    <script src="js/services/homeSRV.js"></script>
    <script src="js/services/earningSRV.js"></script>
    <script src="js/services/outgoingSRV.js"></script>
    <script src="js/services/sheetSRV.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/sheet.js"></script>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="style<br/>sheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="SheetsCtrl">
  <div class="navbar">
	<div class="navbar-inner">
		<div class="container">

			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" href="index.html">Outgoings Monitor</a>

			<ul class="nav">
				<li><a href="index.html"><i	class="icon-home"></i>&nbsp;Home</a></li>
				<li class="active"><a href="sheets.html"><i class="icon-list-alt"></i>&nbsp;Sheets</a></li>
				<li><a href="settings.html"><i class="icon-wrench"></i>&nbsp;Settings</a></li>
			</ul>
			<div ng-controller="HomeCtrl">
			<ul class="nav pull-right" ng-show="loggedIn">
				<li><a href="#" ng-click="disconnect()"><i class="icon-off"></i>&nbsp;Logout</a></li>
			</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div ng-controller="HomeCtrl">
		<i class="icon-user"></i>&nbsp;You're logged as <b>{{email}}</b>
	</div>
	<br/>
	<div class="row" style="margin-left:30px;margin-top:10px;">
		
    	<div class="span3">
    		<div class="well well-small">Summary</div>
    		<ul>
    			<li>&sum; Earnings = <b style="color: green;">{{getTotalEarnings()}}&euro;</b></li>
    			<li>&sum; Outgoings = <b style="color: red;">{{getTotalOtherOutgoings()+getTotalMonthlyOutgoings()}}&euro;</b>
    				<ul>
    					<li>Monthly = <b style="color: red;">{{getTotalMonthlyOutgoings()}}&euro;</b></li>
    					<li>Other   = <b style="color: red;">{{getTotalOtherOutgoings()}}&euro;</b></li>
    					<li>Spent   = <b style="color: red;">{{getTotalSpentOutgoings(true)}}&euro;</b>
    					<li>Coming  = <b style="color: red;">{{getTotalSpentOutgoings(false)}}&euro;</b>
    				</ul>
    			</li>
    		</ul>
	   	</div>
	   	<div class="span10" style="padding-left: 20px;">
	   	
		   	<div ng-show="errMsgSheet != ''" class="alert alert-error">
	   			<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Attention!</strong>&nbsp;{{errMsgSheet}}
			</div>
			<div ng-show="warnMsgSheet != ''" class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Attention!</strong>&nbsp;{{warnMsgSheet}}
		   	</div>
		   	<div ng-show="currentSheet.id==null">
		   		<a href="#newSheetModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-white icon-plus-sign"></i>&nbsp; New sheet</a>
		   	</div>
		   	<div ng-show="currentSheet.id!=null">
		   		<h3>{{currentSheet.name}}</h3>
		   		<hr>
		   		<div class="row">
		   			<a href="#newEarningModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-white icon-plus-sign"></i>Add</a>
			  		<br/>
			  		<table class="table table-hover table-condensed">
			  			<thead><tr><th colspan="3">Earnings</th></tr></thead>
			  			<tbody>
			  			<tr ng-repeat="earning in currentSheet.earnings"><td>{{earning.label}}</td><td>{{earning.amount}}&euro;</td>
			  			<td><a href="#" ng:click="removeEarning(earning)"><i class="icon-trash"></i></a></td></tr>
			  			<tr><td>&nbsp;</td><th colspan="2" style="color: green;">Total : {{getTotalEarnings()}}&euro;</th></tr>
			  			</tbody>
			  		</table>
		  		</div>
		  		<div class="row">
		  			<a href="#newOutgoingModal" role="button" class="btn btn-primary" data-toggle="modal"><i class="icon-white icon-plus-sign"></i>Add</a>
				     <br/>
			  		<table class="table table-hover table-condensed">
			  			
			  			<thead><tr><th colspan="2">Outgoings</th></tr></thead>
			  			<tbody>
			  			<tr ng-repeat="outgoing in currentSheet.outgoings">
			  				<td><input type="checkbox" ng-click="markOutgoingAsSpent(outgoing)" ng-model="outgoing.spent"/></td>
			  				<td><span class="done-{{outgoing.spent}}">{{outgoing.label}}</span></td>
			  				<td><span class="done-{{outgoing.spent}}">{{outgoing.amount}}</span>&euro;</td>
			  				<td ng-show="outgoing.type == 'M'"><span class="done-{{outgoing.spent}}">Monthly</span></td>
			  				<td ng-show="outgoing.type == 'O'"><span class="done-{{outgoing.spent}}">Other</span></td>
			  				<td><a href="#" ng:click="removeOutgoing(outgoing)"><i class="icon-trash"></i></a></td></tr>
			  			<tr><td colspan="3">&nbsp;</td><th colspan="2" style="color: red;">Total : {{getTotalOtherOutgoings()+getTotalMonthlyOutgoings()}}&euro;</th></tr>
			  			</tbody>
			  		</table>			  		
			  	</div>
		   	</div>
		 </div>	
	</div>
</div>

<!-- Modal New Sheet-->
<div id="newSheetModal" class="modal hide fade" tabindex="-1" 
		role="dialog" aria-labelledby="newSheetLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="newSheetLabel">New sheet</h3>
  </div>
  <div class="modal-body">
    <p>{{currentMonth}}</p>
    <div class="alert alert-info">The configured earnings and outgoings will be added to the new sheet.</div> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="addSheet()" data-dismiss="modal">Save</button>
  </div>
</div>

<!-- Modal Add Earning -->
<div id="newEarningModal" class="modal hide fade" tabindex="-1" 
		role="dialog" aria-labelledby="newEarningLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="newEarningLabel">Add earning</h3>
  </div>
  <div class="modal-body">
    <form class="form">
      	<label><b>Label</b></label>
      	<input type="text" ng-model="label" placeholder="Enter a label here"/>
      	<label><b>Amount</b></label>
      	<input type="number" ng-model="amount" placeholder="Enter the amount here"/>
     </form> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="addEarning()" data-dismiss="modal">Save</button>
  </div>
</div>

<!-- Modal Add Outgoing -->
<div id="newOutgoingModal" class="modal hide fade" tabindex="-1" 
		role="dialog" aria-labelledby="newOutgoingLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="newOutgoingLabel">Add outgoing</h3>
  </div>
  <div class="modal-body">
    <form class="form">
      	<label><b>Label</b></label>
      	<input type="text" ng-model="label" placeholder="Enter a label here"/>
      	<label><b>Amount</b></label>
      	<input type="number" ng-model="amount" placeholder="Enter the amount here"/>
      	<select ng-model="type">
      		<option value="">Type</option>
      		<option value="M">Monthly</option>
      		<option value="O">Other</option>
      	</select>
     </form> 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="addOutgoing()" data-dismiss="modal">Save</button>
  </div>
</div>

</body>
</html>